<div class="card">
  <div class="card-header">
    <h3>Calculate Product Price</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <table class="table">
          <tr>
            <th scope="col">Item Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Price</th>
          </tr>
        <tbody>
          <tr *ngFor="let calculatedItem of calculatedProductList">
            <td>{{calculatedItem.product.productName}}</td>
            <td>{{calculatedItem.amount}}</td>
            <td>$ {{calculatedItem.price}}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="calculatedProductList.length > 0">
          <tr>
            <td>Total Price</td>
            <td></td>
            <td></td>
            <td>$ {{totalPrice}}</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<section>
  <div class="modal" tabindex="-1" role="dialog" id="editAmount">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="editAmount">Edited Amount</label>
            <input type="number" class="form-control" id="editAmount" aria-describedby="editAmountHelp" placeholder="Enter amount" name="editedAmount" [(ngModel)]="selectedItem.amount">
            <small id="editAmountHelp" class="form-text text-muted">You have to give your new amount</small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="editAmount()">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</section>